footer {
    background-color: #2a2546;
    height: 360px;
}

.footer_content {
    display: flex;
    width: 100%;
    min-height: 360px;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    position: relative;
    top: -200px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.address {
    width: 235px;
    color: white;
    font-family: "Tahoma";
}

.address img {
    margin-bottom: 60px;
}

footer ul li:first-child {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul li a {
    color: #8a85a4;
    text-decoration: none;
}

.footer_content ul li a:hover {
    color: #d4d3da;
    border-bottom: 2px solid #d4d3da;
}

.footer_content ul li a:active {
    color: #4f4a6a;
    border: none;
}