body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

.promo_invite {
    width: 100%;
    background-color: #6451d5;
}
.promo {
    background: url("../images/items.png") no-repeat 500px;
    padding: 93px;
    width: 1020px;
    margin: 0 auto;
}

.promo h1 {
    font-size: 45px;
    color: #e7e5f5;
    margin: 0;
    width: 425px;
}

.promo p {
    color: #a79dea;
    font-size: 18px;
    width: 305px;
    margin-bottom: 50px;
}

.promo a {
    background-color: #382d78;
    padding: 20px 80px 20px 80px;
    color: #e7e5f5;
    text-transform: uppercase;
    text-decoration: none;
}

.promo a:hover {
    background-color: #32286c;
}

.promo a:active {
    color: #8581a1;
}

.advantages {
    background-color: #efefef;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.advantages ul {
    display: flex;
    justify-content: space-around;
}

.advantages ul li {
    list-style-type: none;
}

.advantages ul li h2 {
    font-size: 22px;
    text-align: center;
}

.advantages ul li p {
    color: #555555;
    font-size: 18px;
    width: 285px;
    font-weight: normal;
}

.advantages ul li img {
    width: 65px;
}

.forms_education {
    padding: 0 85px 55px 85px;
}

.forms_education h1 {
    font-size: 45px;
}

.forms_education a {
    float: right;
    position: relative;
    top: -75px;
}

.forms_education a:hover {
    color: #32286c;
}

.forms_education a:active {
    color: #c1bed3;
}

.forms_education table {
    border: 2px solid #a7a7a7;
    font-family: "Tahoma";
    border-collapse: collapse;
    width: 100%;
}

.forms_education table th {
    background-color: #efefef;
    font-weight: normal;
    padding: 15px 40px 15px 30px;
    text-align: left;
    font-size: 18px;
    color: #404040;
    border: 2px solid #a7a7a7;
}

.forms_education table th:first-child {
    width: 285px;
}

.forms_education table td {
    padding: 25px;
    border: 2px solid #a7a7a7;
    font-size: 18px;
}

.bold_cell {
    font-weight: bold;
    font-size: 22px !important;
}

.feedback {
    background-color: #efefef;
    padding: 55px 90px 65px 90px;
}

.feedback h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 65px;
}

.feedback form {
    margin-right: 80px;
}

.feedback form label {
    font-weight: bold;
}

.normal_weight {
    font-weight: normal !important;
}

.table_form input {
    border: 2px solid #b2b2b2;
    border-radius: 4px;
    padding: 15px;
    font-size: 18px;
}

.table_form tr td input[type='text'] {
    width: 510px;
}

.table_form tr td input::-webkit-input-placeholder {
    color: #404040;
}

.table_form input:focus {
     outline: none;
     border: 2px solid #6451d5;
}

.table_form textarea:focus {
    outline: none;
    border: 2px solid #6451d5;
}

.table_form input:hover {
    border-color: #7f7f7f;
}

.table_form textarea:hover {
    border-color: #7f7f7f;
}

.table_form tr td {
    padding-bottom: 35px;
    padding-left: 10px;
}
.name_row {
    text-align: right;
}

.radio_buttons label {
    cursor: pointer;
}

.feedback form textarea {
    border: 2px solid #b2b2b2;
    border-radius: 4px;
    padding: 15px;
    width: 510px;
    font-size: 18px;
    font-family: "Tahoma";
    resize: none;
}

.feedback form tr td textarea::-webkit-input-placeholder {
    color: #404040;
}

.feedback form input[type='submit'] {
    width: 545px;
    background-color: #382d78;
    border: none;
    color: #d6d5e0;
    text-transform: uppercase;
    padding: 25px 200px 25px 200px;
    font-size: 20px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.feedback form input[type='submit']:hover {
    background-color: #32286c;
    cursor: pointer;
}

.feedback form input[type='submit']:active {
    color: #8581a1;
    outline: none;
}

.feedback form label label [type='radio'] {
    cursor: pointer;
}

.feedback aside {
    width: 310px;
}

.feedback aside h2 {
    margin-top: 0;
}

.feedback aside p {
    color: #707070;
    margin-bottom: 30px;
}

.feedback aside p span {
    font-weight: bold;
    color: black;
}

.feedback_content {
    display: flex;
    justify-content: center;
}

.radio_buttons input + label {
    cursor: pointer;
}

.radio_buttons input:not(checked) {
    opacity: 0;
    position: absolute;
}

.radio_buttons input:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.radio_buttons input:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #c4c4c4;
    border: 2px solid #c4c4c4;
}

.radio_buttons input:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50px;
    background: #382d78;
    border: 4px solid #c4c4c4;
}